<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>EzyHTTH View</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- BS style -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- BS JavaScript -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>

<p>Welcome to EzyHTTP!</p>
<p th:text="${email}"></p>
<a th:href="@{'/logout?accessToken=' + ${accessToken}}">Sign out</a>
</body>
</html>

