<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="google-signin-client_id"
          content="727082225298-t2a9uvfl7s7bog99pl0u17b8mgdppl7k.apps.googleusercontent.com">
    <title>Login success</title>
    <!-- Google JavaScript -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>
<p th:text="#{login-success.username}">Welcome to EzyHTTP!</p>
<a href="#" onclick="signOut();">Sign out</a>
</body>
<script>
    function signOut() {
        google.accounts.id.disableAutoSelect();
    }

</script>
</html>