<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user information</title>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Main JavaScript -->
    <script th:src="@{/js/main.js}"></script>
    <!-- Main style-->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!--    semantic ui-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
            integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
          integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
<div class="ui text container" style="margin-top: 20px; max-width: 450px">
    <h2>Update user information</h2>
    <form class="ui form" th:action="@{/user/save}" method="post">
        <div th:if="${accountType == 'FACEBOOK'}" class="field">
            <label>Email</label>
            <input name="email" type="email" placeholder="Email">
        </div>
        <div th:unless="${accountType == 'FACEBOOK'}" class="field">
            <label>Email</label>
            <input readonly name="email" type="email" placeholder="Email" th:value="${user.email}">
        </div>
        <div class="field">
            <label>First Name</label>
            <input name="firstName" type="text" placeholder="First Name">
        </div>
        <div class="field">
            <label>Last Name</label>
            <input name="lastName" type="text" placeholder="Last Name">
        </div>
        <div class="field">
            <label>Password</label>
            <input name="password" type="password" placeholder="Password">
        </div>
        <button class="ui fluid middle teal submit button" type="submit">Save</button>
    </form>
</div>
</body>
</html>
