target/
*/target/
**/target/
build/
*/build/
**/build/
*.gradle/
.gradle/
.gradle/**
gradle/
gradlew
gradlew.bat
.classpath
.project
.settings/
.iml
.idea/
*.classpath
*.project
*.settings/
*.iml
*.idea/
.DS_Store
*.DS_Store
.yaml
