<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>EzyHTTH View</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>

    <!--    semantic ui-->
    <script crossorigin="anonymous"
            integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw=="
            referrerpolicy="no-referrer" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
          integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
          referrerpolicy="no-referrer" rel="stylesheet"/>
</head>

<body>
<div class="ui middle center aligned grid" style="margin-top: 20px">
    <div class="column">
        <p>Welcome to EzyHTTP!</p>
        <p th:text="${username}"></p>
    </div>
</div>
</body>
</html>

