<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>EzyHTTH View</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--    semantic ui-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
            integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
          integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>

<body>
<div class="ui middle center aligned grid" style="margin-top: 20px">
    <div class="column">
        <p>Information User to EzyHTTP!</p>
        <p th:text="${message}"></p>
    </div>
</div>
</body>
</html>

